/openpose
/videos
/poses
__pycache__/
*.pyc
.ipynb_checkpoints/analysis_shoulderpress-checkpoint.ipynb
.ipynb_checkpoints/analysis_shoulderpress-checkpoint.ipynb
.ipynb_checkpoints/DTW-FrontRaise-checkpoint.ipynb
.ipynb_checkpoints/analysis_shoulderpress-checkpoint.ipynb
.ipynb_checkpoints/analysis_shoulderpress-checkpoint.ipynb
.ipynb_checkpoints/DTW-ShoulderPress-checkpoint.ipynb
.ipynb_checkpoints/DTW-ShoulderShrug-checkpoint.ipynb
.ipynb_checkpoints/ShoulderPress-checkpoint.ipynb
.ipynb_checkpoints/ShoulderPressAnalysis-checkpoint.ipynb
__init__.py
.ipynb_checkpoints/analysis_shoulderpress-checkpoint.ipynb
ml_notebooks/.ipynb_checkpoints/DTW-FrontRaise-checkpoint.ipynb
ml_notebooks/.ipynb_checkpoints/DTW-ShoulderPress-Copy1-checkpoint.ipynb
